params {
  n_threads = 2
  outdir = "results"
  max_mem = "2G"

  data {
    dir = "data"
    reads = "${params.data.dir}/sequence/*_R{1,2}*.f*q.gz"
  }

  kallisto {
    dir = "${params.data.dir}/meta"
    index = "${params.kallisto.dir}/index.idx"
    t2g = "${params.kallisto.dir}/t2g.tsv"
    intron_t2g = "${params.kallisto.dir}/introns.t2g.tsv"
    cdna_t2g = "${params.kallisto.dir}/cdna.t2g.tsv"
    tech = "0,0,10:0,10,18:1,0,0"
  }

  conda {
    dir = "envs"
    env = "${params.conda.dir}/env.yaml"
    enabled = "true"
  }

  analysis {
    cell_umi_threshold = 1
    gene_cell_threshold = 1
  }
}
